<body>
    <div class="header">
        <ul class="menu">
            <li><a routerLink="/konobar">Profil</a></li>
            <li><a routerLink="/rezervacijeK">Rezervacije</a></li>
            <li><a routerLink="/dostaveK">Dostave</a></li>  
            <li><a routerLink="/statistika">Statistika</a></li>
          </ul>
    </div>
    <div class="card2">
    <br>
    <h4>Konobar {{konobar.ime}} {{konobar.prezime}}</h4>
        <table>
            <tr>
                <th>Slika </th>
                <th>Korisnicko ime</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Mejl</th>
                <th>Telefon</th>
                <th>Adresa</th>
            </tr>
            <tr>
                <td><div><img [src]="konobar.img" height="70px !important" 
                width="70px !important">
                </div></td>
                <td>{{konobar.kor_ime}}</td>
                <td>
                    <output type="text" *ngIf="!promeni">{{konobar.ime}}</output>
                    <input type="text" [(ngModel)]="nIme" *ngIf="promeni">
                </td>
                <td>
                    <output type="text" *ngIf="!promeni">{{konobar.prezime}}</output>
                    <input type="text" [(ngModel)]="nPrezime" *ngIf="promeni">
                </td>
                <td>
                    <output type="text" *ngIf="!promeni">{{konobar.mejl}}</output>
                    <input type="text" [(ngModel)]="nMejl" *ngIf="promeni">
                </td>
                <td>
                    <output type="number" *ngIf="!promeni">{{konobar.telefon}}</output>
                    <input type="number" [(ngModel)]="nTelefon" *ngIf="promeni">
                </td>
                <td>
                    <output type="text" *ngIf="!promeni">{{konobar.adresa}}</output>
                    <input type="text" [(ngModel)]="nAdresa" *ngIf="promeni">
                </td>
                <td><button (click)="azurirajKonobara(konobar.kor_ime)" *ngIf="!promeni">Azuriraj</button></td>
                <td><button (click)="sacuvajIzmene(konobar.kor_ime)"*ngIf="promeni">Sacuvaj</button></td>
            </tr>
            <tr><td><input type="file" (change)="selectFile($event)"*ngIf="promeni" ></td></tr>
            {{message}}
        </table>
    <br>
    </div>
    <div class="footer">
        <a routerLink="/promenaLozinke">Promeni lozinku</a>
        <br>
        <button (click)="logout()">Odjavi se</button>
    </div>
    </body>
