<body>
    <div class="header">
      <h1>Prijava</h1>
    </div>
    <div class="card2">
<div>
<table>
    <tr>
        <td>Korisnicko Ime:</td>
        <td>
            <input type="text" name="kor_ime" [(ngModel)]="kor_ime">
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>
            <input type="password" name="lozinka" [(ngModel)]="lozinka"> 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="login()">Prijava</button>
        </td>
    </tr>
    <tr>
        <h3>Izaberi Tip</h3>
        <select [(ngModel)]="izabraniTip">
            <option option value="gost">Gost</option>
            <option option value="konobar">Konobar</option>
         </select>  
    </tr>
    {{message}}
</table>
<a routerLink="/registracija">Registracija.</a>
<br>
<a routerLink="/loginAdministrator">Administrator Login.</a>
<br>
<a routerLink="/promenaLozinke">Zaboravili ste lozinku? </a>
</div>
<br>
<div>
    Ukupan broj Restorana:<output type="number">{{ukupanBrojRestorana}}</output>
    <br>
    Ukupan broj Gostiju:<output type="number">{{ukupanBrojGostiju}}</output>
    <br>
    Broj rezervacija u poslednjih 24 sata:<output type="number">{{brojRezervacija24}}</output>
    <br>
    Broj rezervacija u poslednjih 7 dana:<output type="number">{{brojRezervacija7}}</output>
    <br>
    Broj rezervacija u poslednjih 30 dana:<output type="number">{{brojRezervacija30}}</output>
    <h4>Svi Restorani</h4>
        <table>
            <tr>
                <th>Naziv </th>
                <th>Tip</th>
                <th>Adresa</th>
                <th>Opis</th>
                <th>Kontakt</th>
                <th>Radno vreme</th>
                <th>Konobari</th>
            </tr>
            <tr *ngFor="let restoran of sviRestorani">
                <td>
                    <output type="text">{{restoran.naziv}}</output>
                </td>
                <td>
                    <output type="text">{{restoran.tip}}</output>
                </td>
                <td>
                    <output type="text">{{restoran.adresa}}</output>
                </td>
                <td>
                    <output type="text">{{restoran.opis}}</output>
                </td>
                <td>
                    <output type="number">{{restoran.kontakt}}</output>
                </td>
                <td *ngIf="restoran.radno_vreme!=undefined">
                    <ul  >
                        <li>
                            Ponedeljak: {{restoran.radno_vreme[0].pocetno_vreme }} - {{restoran.radno_vreme[0].krajnje_vreme }}
                        </li>
                        <li>
                            Utorak: {{restoran.radno_vreme[1].pocetno_vreme }} - {{restoran.radno_vreme[1].krajnje_vreme}}
                        </li>
                        <li>
                            Sreda: {{restoran.radno_vreme[2].pocetno_vreme}} - {{restoran.radno_vreme[2].krajnje_vreme }}
                        </li>
                        <li>
                            Cetvrtak: {{restoran.radno_vreme[3].pocetno_vreme}} - {{restoran.radno_vreme[3].krajnje_vreme}}
                        </li>
                        <li>
                            Petak: {{restoran.radno_vreme[4].pocetno_vreme }} - {{restoran.radno_vreme[4].krajnje_vreme}}
                        </li>
                        <li>
                            Subota: {{restoran.radno_vreme[5].pocetno_vreme }} - {{restoran.radno_vreme[5].krajnje_vreme }}
                        </li>
                        <li>
                            Nedelja: {{restoran.radno_vreme[6].pocetno_vreme }} - {{restoran.radno_vreme[6].krajnje_vreme }}
                        </li>
                    </ul>                       
                </td>
                <td>
                    <ul>
                        <li *ngFor="let konobar of getKonobariForRestoran(restoran)">
                            {{konobar.ime}} {{konobar.prezime}} 
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                
                <td><input type="text" name="param1" [(ngModel)]="searchParam1"></td>
                <td><input type="text" name="param2" [(ngModel)]="searchParam2"></td>
                <td><input type="text" name="param3" [(ngModel)]="searchParam3"></td>
                <td><button (click)="pretraziRestorane()">Pretrazi</button></td>
            </tr>
            <tr>
                
                <td><button (click)="sortirajPoNazivu()">Sortiraj po nazivu</button></td>
                <td><button (click)="sortirajPoTipu()">Sortiraj po tipu</button></td>
                <td><button (click)="sortirajPoAdresi()">Sortiraj po adresi</button></td>
                <td>Opadajuce?<input type="checkbox" name="Opadajuce" [(ngModel)]="opadajuce"></td>
            </tr>
        </table>
</div>
<br>
</div>
</body>
