<body>
    <div class="header">
      <h1>Prijava</h1>
    </div>
    <div class="card2">
<div>
<table>
    <tr>
        <td>Korisnicko Ime:</td>
        <td>
            <input type="text" name="kor_ime" [(ngModel)]="kor_ime">
        </td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>
            <input type="password" name="lozinka" [(ngModel)]="lozinka"> 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="login()">Prijava</button>
        </td>
    </tr>
</table>
</div>
    </div>
<div class="footer">
<button (click)="nazad()">Vrati se na login</button>
</div>
</body>