<body>
    <div class="header">
        <ul class="menu">
            <li><a routerLink="/konobar">Profil</a></li>
            <li><a routerLink="/rezervacijeK">Rezervacije</a></li>
            <li><a routerLink="/dostaveK">Dostave</a></li>  
            <li><a routerLink="/statistika">Statistika</a></li>
          </ul>
    </div>
    <div class="card2">
    <br>
    <div><h4>Primljene dostave</h4>
        <table>
            <tr>
                <th>Narucilac </th>
                <th>Vreme</th>
                <th>Naruceno</th>
                <th></th>
                <th *ngIf="prihvacena">Procenjeno vreme</th>
            </tr>
            <tr *ngFor="let dostava of sveDostave">
                <td>{{dostava.gost}}</td>
                <td>{{dostava.vremeDostave}}</td>
                <td>
                    <ul *ngFor="let jelo of dostava.narudzbina">
                        <li>{{jelo.naziv}}</li>
                        <li>{{jelo.kolicina}}</li>
                    </ul>
                </td>
                <td>
                    <button (click)="prihvata(dostava)" *ngIf="!prihvacena">Prihvati</button>
                    <button (click)="odbijDostavu(dostava)" *ngIf="!prihvacena">Odbij</button>
                </td>
                <td *ngIf="prihvacena && izabranaDostava==dostava">
                    <select [(ngModel)]="izabranoVreme" >
                        <option option  value="20,30">20-30 minuta</option>
                        <option option  value="30,40">30-40 minuta</option>
                        <option option  value="50,60">50-60 minuta</option>
                    </select>
                    <button (click)="prihvatiDostavu(dostava)">Posalji</button>
                </td>
            </tr>
        </table>
        </div>
    <br>
    </div>
    <div class="footer">
        <a routerLink="/promenaLozinke">Promeni lozinku</a>
        <br>
        <button (click)="logout()">Odjavi se</button>
    </div>
    </body>
